<!-- src/app/components/tablon-usuario/tablon-usuario.component.html -->
<div class="col-lg-12 col-md-12 col-sm-12">
    <h3 class="p-2-title mt-4 pt-3">Listado de Juegos</h3>
 <!-- juegos.component.html -->
<div>
    <h2>Juegos Poseídos</h2>
    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Editorial</th>
          <th>Fecha</th>
          <th>Valoración</th>
          <th>Comentario</th>
        </tr>
      </thead>
      <tbody>
        @for(juego of poseidos; track $index){
        <tr>
          <td>{{ juego.juego.titulo }}</td>
          <td>{{ juego.juego.editorial }}</td>
          <td>{{ juego.juego.fecha_publicacion }}</td>
          <td>{{ juego.valoracion_juego }}</td>
          <td>{{ juego.comentario }}</td>
        </tr>
    }
      </tbody>
    </table>
  
    <h2>Juegos Deseados</h2>
    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Editorial</th>
          <th>Fecha</th>
          <th>Comentario</th>
        </tr>
      </thead>
      <tbody>
        @for(juego of deseados; track $index){
        <tr>
          <td>{{ juego.juego.titulo }}</td>
          <td>{{ juego.juego.editorial }}</td>
          <td>{{ juego.juego.fecha_publicacion }}</td>
          <td>{{ juego.comentario }}</td>
        </tr>
    }
      </tbody>
    </table>
  </div>
  
    </div>
  
  
