.btn-i{
    width: 24px; 
    height: 24px;
    background: none !important; 
    border: none !important; 
    padding: 0 !important;
}

.lineStyle{
    border: 0; 
    border-top: 2px dashed #cccc; 
    margin: 20px 0;
}
