<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success btn-rounded" (click)="goBack()">
                        Volver
                    </button>
                </div>
                <h2 class="card-title titleStyle">{{ product.titulo }}</h2>
                @if(product.ranking_global){ 
                    <p><span class="fw-bold">RANKING:</span>{{ product.ranking_global }}</p>
                } 
                <div class="row">
                    @if(product.ruta_imagen){
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="white-box text-center d-flex justify-content-center align-items-center imageStyle">
                            <img src="{{ product.ruta_imagen }}" class="img-fluid" />
                        </div>
                    </div>

                    }
                    <div class="col-lg-8 col-md-8 col-sm-6">
                        @if(product.descripcion){
                        <p class="p-2-title mt-4">
                            <i class="fa fa-play-circle text-primary"></i>
                            <span class="fw-bold"> Descripción: </span>
                        </p>

                        <div [innerHTML]="product.descripcion"></div>
                        }

                        <ul class="list-unstyled my-4">
                            @if(product.fecha_publicacion){
                            <li class="my-2">
                                <i class="fa fa-play-circle text-primary"></i>
                                <span class="fw-bold"> Año de publicación: </span>
                                {{ product.fecha_publicacion }}
                            </li>
                            }
                            <li></li>
                            <li class="my-2">
                                <i class="fa fa-play-circle text-primary"></i>
                                <span class="fw-bold"> Editorial: </span>
                                {{ product.editorial }}
                            </li>
                            <li class="my-2">
                                <i class="fa fa-play-circle text-primary"></i>
                                <span class="fw-bold"> Autor/a: </span> {{ product.autoria }}
                            </li>
                            @if(product.ilustracion){
                            <li class="my-2">
                                <i class="fa fa-play-circle text-primary"></i>
                                <span class="fw-bold"> Ilustrador/a: </span>
                                {{ product.ilustracion }}
                            </li>
                            }
                        </ul>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="p-2-title mt-4 pt-3">Más información</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="tdStyle">Número de participantes</td>
                                        <td>
                                            {{ product.participantes_min }} mín. -
                                            {{ product.participantes_max }} máx.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tiempo aprox. de juego</td>
                                        <td>{{ product.duracion_minutos }} minutos</td>
                                    </tr>
                                    <tr>
                                        <td>A partir de</td>
                                        <td>{{ product.edad_min }} años</td>
                                    </tr>
                                    @if(product.complejidad){
                                    <tr>
                                        <td>Complejidad</td>
                                        <td>{{ product.complejidad.nombre }}</td>
                                    </tr>
                                    }@if(product.contexto){
                                    <tr>
                                        <td>Contexto</td>
                                        <td>{{ product.contexto.nombre }}</td>
                                    </tr>
                                    }@if(product.tematizacion){
                                    <tr>
                                        <td>Tema</td>
                                        <td>{{ product.tematizacion.nombre }}</td>
                                    </tr>
                                    }@if(product.componentes && product.componentes.length > 0){
                                    <tr>
                                        <td>Componentes</td>
                                        <td>
                                            @for(componente of product.componentes; track $index){
                                            <dd class="col-sm-12">{{ componente.nombre }}</dd>
                                            }
                                        </td>
                                    </tr>
                                    }@if(product.parte){
                                    <tr>
                                        <td>Adquiridos por partes</td>
                                        <td>{{ product.parte.nombre }}</td>
                                    </tr>
                                    }@if(product.dinamica){
                                    <tr>
                                        <td>Dinámica</td>
                                        <td>{{ product.dinamica.nombre }}</td>
                                    </tr>
                                    } @if(product.ean){
                                    <tr>
                                        <td>EAN</td>
                                        <td>{{ product.ean }}</td>
                                    </tr>
                                    }@if(product.url){
                                    <tr>
                                        <td>URL editorial</td>
                                        <td class="text-break">
                                            <a href="{{ product.url }}" target="_blank" class="text-success">{{
                                                product.url }}</a>
                                        </td>
                                    </tr>
                                    }@if(product.medidas_caja_cm){
                                    <tr>
                                        <td>Medidas caja</td>
                                        <td>{{ product.medidas_caja_cm }} cm</td>
                                    </tr>
                                    }@if(product.premios){
                                        <tr>
                                            <td>Premios</td>
                                            <td>{{ product.premios }}</td>
                                        </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>