<h2 class="mb-3">Calendario de eventos</h2>
<div class="card p-3">
    <div class="card-body">
        <full-calendar id="miCalendario" [options]="calendarOptions"></full-calendar>
    
</div>
</div>
<div class="card">
    <div class="card-body">
        
            <p>
                En el calendario, se presentan las ferias y actividades relacionadas con los juegos de mesa, incluyendo
                detalles como la dirección, la fecha y otra información relevante.</p>
        
        </div>
    </div>
