<div class="modal-header">
    <h4 class="modal-title">Editar Juego</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
        <form [formGroup]="userGameForm" (ngSubmit)="saveChanges()"  class="col-12">
            <div class="mb-3">
                <label for="juego" class="form-label">Juego</label>
                <input type="text" id="juego" class="form-control" formControlName="juego">
              </div>
    
    
          <div class="mb-3">
            <label for="estado" class="form-label">Estado</label>
            <select formControlName="estado" id="estado" class="form-control" required>
              <option value="">Selecciona un estado</option>
              <option value="poseido">Lo tengo</option>
              <option value="deseado">Lo quiero</option>
            </select>
            <div>
                @if(userGameForm.get('estado').invalid && userGameForm.get('estado').touched){
                    <div class="text-danger">Debes seleccionar un estado</div>
                }
            </div>
          </div>
    
          <div class="mb-3">
            <label for="puntuacion" class="form-label">Puntuación (entre 0 y 5)</label>
            <input type="number" formControlName="puntuacion" id="puntuacion" class="form-control" min="0" max="10" placeholder="{Opcional}">
            <div>
                @if(userGameForm.get('puntuacion').invalid && userGameForm.get('puntuacion').touched){
                    <div class="text-danger">La puntuación debe estar entre 0 y 5</div>
                }
            </div>
        </div>
    
          <div class="mb-3">
            <label for="comentario" class="form-label">Comentario (máx. 200 carácteres)</label>
            <textarea formControlName="comentario" id="comentario" class="form-control" placeholder="Opcional"></textarea>
            <div>
                @if(userGameForm.get('comentario').invalid && userGameForm.get('comentario').touched){
                    <div class="text-danger"> El comentario es demasiado largo</div>
                }
            </div>
        </div>
    
    <button type="submit" class="btn btn-primary">Agregar Juego</button> 
        </form>
      </div>
      </div>

     