<div class="modal-header bg-light-warning">
    <h4 class="modal-title">Modificar juego de la lista</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
        <form [formGroup]="userGameForm" (ngSubmit)="saveChanges()"  class="col-12">
            <div class="mb-3">
                <input type="text" id="juego" class="form-control" formControlName="juego">
              </div>
    
    
          <div class="mb-3">
            <select formControlName="estado" id="estado" class="form-control" required>
              <option value="">Estado</option>
              <option value="poseido">Lo tengo</option>
              <option value="deseado">Lo quiero</option>
            </select>
            <div>
                @if(userGameForm.get('estado').invalid && userGameForm.get('estado').touched){
                    <div class="text-danger">Debes seleccionar un estado</div>
                }
            </div>
          </div>
    
          <div class="mb-3">
            <input type="number" formControlName="puntuacion" id="puntuacion" class="form-control" min="0" max="10" placeholder="Puntuación (entre 0 y 5)">
            <div>
                @if(userGameForm.get('puntuacion').invalid && userGameForm.get('puntuacion').touched){
                    <div class="text-danger">La puntuación debe estar entre 0 y 5</div>
                }
            </div>
        </div>
    
          <div class="mb-3">
            <textarea formControlName="comentario" id="comentario" class="form-control" placeholder= "Comentario (200 carácteres máx.)"></textarea>
            <div>
                @if(userGameForm.get('comentario').invalid && userGameForm.get('comentario').touched){
                    <div class="text-danger"> El comentario es demasiado largo</div>
                }
            </div>
        </div>
    
    <button type="submit" class="btn btn-warning">Modificar</button> 
        </form>
      </div>
      </div>

     