<h2 class="mb-3 pt-5 mx-5">Mapa</h2>
<div class="card p-3 mx-5">
    <div class="card-body">
    <div class="map-container my-4">
        <div id="map" class="map-container"></div>
        <select class="form-select map-select shadow" [(ngModel)]="selectedCategory" (change)="filterMarkers()">
            <option value>SELECCIONA CATEGORÍA</option>
            @for(categoria of categorias; track $index){
            <option [value]="categoria.nombre">{{ categoria.nombre}}</option>
            }
            <option value>Todas</option>
        </select>
    </div>
</div>
</div>