<h2 class="my-3">Mapa</h2>
<div class="card p-3">
    <div class="card-body">
    <p>
        Desde Barcelona, te presentamos un mundo de entretenimiento: tiendas de
        juegos, bibliotecas, bares estratégicos y redes comunitarias. Nuestro
        objetivo es globalizar esta experiencia, invitándote a explorar la magia de
        los juegos de mesa en todas partes.
    </p>
    <div class="map-container my-4">
        <div id="map" class="map-container"></div>
        <select class="form-select map-select shadow" [(ngModel)]="selectedCategory" (change)="filterMarkers()">
            <option value>SELECCIONA CATEGORÍA</option>
            @for(categoria of categorias; track $index){
            <option [value]="categoria.nombre">{{ categoria.nombre}}</option>
            }
            <option value>Todas</option>
        </select>
    </div>
</div>
</div>