<nav class="sidebar-nav">
    <ul id="sidebarnav">
    
        <!-- User Profile-->
        @if(isLoggedIn){
        <li class="sidebar-item user-profile" [class.active]="showMenu === 'user'">
            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                (click)="addExpandClass('user')" aria-expanded="false"><span><img src="assets/images/users/user.jpg"
                  alt="user" /></span><span class="hide-menu"> ¡HOLA {{ (username$ | async)?.toUpperCase() || '' }}! </span></a>
            <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'user'">
                <li><a [routerLink]="'/tablonUsuario'" href="javascript:void(0)" class="sidebar-link p-0">Tablón de usuario </a></li>
                <li><a href="javascript:void(0)" class="sidebar-link p-0" (click)="logoutUser()">Cerrar sesión</a></li>
            </ul>
        </li>
        }
         <!-- First level menu -->
    @for(sidebarnavItem of sidebarnavItems; track sidebarnavItem) {
        @if(sidebarnavItem.title !== 'Iniciar sesión' && isLoggedIn){
          <li class="sidebar-item" [class.active]="showMenu === sidebarnavItem.title"
            (click)="sidebarnavItem.submenu.length != 0 ? '' : handleNotify()"
            [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
            @if(sidebarnavItem.extralink === true) {
              <div class="nav-small-cap"><i [ngClass]="[sidebarnavItem.icon]"></i>
                <span class="hide-menu">{{sidebarnavItem.title | translate}}</span>
              </div>
            }
            @if(!sidebarnavItem.extralink) {
                <a class="sidebar-link waves-effect waves-dark"
                  [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
                  [ngClass]="[sidebarnavItem.class]" (click)="addExpandClass(sidebarnavItem.title)"
                  [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
                  <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
                  <span class="hide-menu">{{sidebarnavItem.title | translate}}
                    @if(sidebarnavItem.label != '') {
                      <span [ngClass]="[sidebarnavItem.labelClass]">{{sidebarnavItem.label | translate}}</span>
                    }
                  </span>
                </a>
              }
            </li>
          }
            @if(!isLoggedIn){
                <li class="sidebar-item" [class.active]="showMenu === sidebarnavItem.title"
                  (click)="sidebarnavItem.submenu.length != 0 ? '' : handleNotify()"
                  [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
                  @if(sidebarnavItem.extralink === true) {
                    <div class="nav-small-cap"><i [ngClass]="[sidebarnavItem.icon]"></i>
                      <span class="hide-menu">{{sidebarnavItem.title | translate}}</span>
                    </div>
                  }
        
  
            @if(!sidebarnavItem.extralink) {
              <a class="sidebar-link waves-effect waves-dark"
                [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
                [ngClass]="[sidebarnavItem.class]" (click)="addExpandClass(sidebarnavItem.title)"
                [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
                <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
                <span class="hide-menu">{{sidebarnavItem.title | translate}}
                  @if(sidebarnavItem.label != '') {
                    <span [ngClass]="[sidebarnavItem.labelClass]">{{sidebarnavItem.label | translate}}</span>
                  }
                </span>
              </a>
            }
          </li>
        }
        }
    
    </ul>
  </nav>