.pointer{
	cursor: pointer; 
}

.btn-i{
    width: 24px; 
    height: 24px;
    background: none !important; 
    border: none !important; 
    padding: 0 !important;
}

th.asc, th.desc {
    display: flex;
    border: 0px;
}

th.asc::after, th.desc::after {
    content: "";
    display: block;
    background: url(../../../assets/images/custom-select.png) no-repeat left center;
    background-size: 12px;
    width: 25px;
    height: 25px;
    position: relative;
    right:-12px;
    margin-right: -22px;
}

th.desc::after {
    transform: rotate(180deg);
    background-position: right center; 
}
